* {
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 30px;
}
.number_counter {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  background: #f1f1f1;
  color: #222;
  text-transform: capitalize;
}

.buttons {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}
